agentdojo==0.1.34
fastmcp==2.10.6
langchain==0.3.22
langchain-community==0.3.20
langchain-mcp-adapters==0.1.9
langchain-openai==0.2.14
langgraph==0.3.20
mcp==1.12.2
mlflow==3.2.0
numexpr==2.11.0
numpy==2.2.4
openai==1.93.0
pandas==2.3.0
Pillow==11.2.1
playwright==1.54.0
pydantic==2.11.7
PyPDF2==3.0.1
python-dotenv==1.1.0
PyYAML==6.0.2
requests==2.32.4
scipy==1.15.3
SQLAlchemy==2.0.39
sympy==1.14.0
wikipedia==1.4.0
